# Logs
logs/
*.log

# Dependencias
node_modules/

# Entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Build
dist/
build/
